<div class="container-fluid"style="text-align:center">
    <div class="row"style=text-align:center>
      <div class = "col-md-12 title1" style="font-size: 22px">Different Countries
        <a class="btn btn-secondary" (click)="goBackToPreviousPage() " style="margin-left: 60%">Go Back </a></div>
    </div><br><br>
    <div class="row" style="text-align: center;">
        <div *ngFor ="let country of allCountry " class="col-md-4">
                <div class="card">
                        
                        <img class="card-img-top" style="width:100%;height:250px;" src= {{country.flag}}><br>
                        <h5 class="card-title" style="font-size: 20px;font-style:initial">{{country.name|uppercase}} </h5>  
                        <div class="card-body" style="font-style: italic">
                     <p style="font-weight: bold">Capital:
                      {{country.capital}}</p>  
                      
                        <p style="font-weight: bold">Timezone: {{country.timezones[0]}}</p>    
                        <p style="font-weight: bold">Subregion: {{country.subregion}}</p>  
                        <p style="font-weight: bold">Population: {{country.population}}</p> 
                        Currency:
                    <a [routerLink] =  "['/country',currency.code]" *ngFor='let currency of country.currencies;'> {{currency.name}}</a><br>
                  Language:
                    <a [routerLink] =  "['/country',language.iso639_1]" *ngFor='let language of country.languages;'>{{language.name}}</a>
               <a href="#" class="btn btn-secondary btn-block"[routerLink]="['/name',country.name]">Know about {{country.name}}</a>
                        </div>
                    </div>
                  </div>
                </div></div>
            